<form action="/<%= @id %>" method="POST" role="form">
    
    <input type="hidden" name="editing" value="<%= @editing %>" />
    
    <div class="container-fluid new">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <textarea name="paste_body" class="form-control" id="paste_body"><%= @paste['body'] %></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="buttons">
            <div class="row">
                <div class="col-md-3 pull-left">
                    <select name="paste_lang" class="form-control">
                        <option value='text'>Plain Text</option>
                        <% languages.each do |lang| %>
                            <option value="<%= lang %>"><%= lang %></option>
                        <% end %>
                    </select>
                </div>
                <div class="col-md-2 pull-right">
                    <div class="pull-right">
                        <input type="submit" value="<% if @editing %>Update Paste<% else %>Create Paste<% end %>" class="btn" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>